img{
	width: 30%;
	float: left;
	margin: 1.66%
}
h1{
	width: 30%;
	margin-left: 1.66%;
	padding-bottom: 20px; 
	font-size: 23px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1; 
}