body{
	padding-top: 70px;
}

.navbar-inverse{
	background-color: #2c3e50;
}

.jumbotron{
	color: #2c3e50;
	background-color: #ecf0f1;
}
.navbar-inverse .navbar-nav li a{
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}